# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Build folders
build/
dist/
wheels/
*.egg-info/

# Environment variables
.env

# Virtual environments
.venv/
venv/

# Node.js
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Vite
.vite/

# IDE
.vscode/
.idea/